#welcomeCard {
  text-align: center;
}

#welcomeCard img {
  width: 20vw;
}

#todaysConcerts {
  list-style: none;
}

#todaysConcerts li {
  list-style: none;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  align-items: center;
  width: 50vw;
  margin: 3%;
  background-color: var(--color-five);
}

.home_concert_photo {
  margin-left: 40px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.home_concert_photo img {
  width: 100%;
}

.home_concert_info {
  margin-left: 10%;
}
